<!DOCTYPE html>
<html>
<head>
  <title>Skill Shared</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Here you can learn new skills and share the ones you have!</h1>

<%= yield %>

</body>
</html>
